.container {
    padding-top: 50px;
}

.fa-pencil-square-o {
    font-size: 1.5em;
    color: green;
}

.fa-plus-square-o {
    font-size: 5em;
}

.header {
    font-size: 20pt;
}

.input {
    border: none;
    width: 350px;
}

.fa-times {
    font-size: 1.5em;
    color: red;
}

.fa-plus-square-o {
    font-size: 5em;
}

.btn {
    display: inline-block !important;
    padding: 6px 12px !important;
    margin-bottom: 0;
!important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 1.42857143 !important;
    text-align: center !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    background-image: none !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

.btn-info {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.btn-warning {
    color: #fff !important;
    background-color: #f0ad4e !important;
    border-color: #eea236 !important;
}

.btn-large {
    height:70px;
    width:140px;
    color: #fff !important;
    background-color: lightskyblue !important;
    border-color: lightskyblue !important;
}

.noSidebarCell {
    padding-bottom: 390px;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-widget-header {
    background: green;
    border-color:green;
}

.noSidebarCell {
    padding-bottom: 390px;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.confirmation-dialog.ui-dialog .fa-exclamation-circle {
    font-size: 3em;
    float: left;
    color: #f6a828;
}

.confirmation-dialog.ui-dialog {
    text-align: center;
}

.message {
    width: 50% !important;
    display: block !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.custPopup {
    background-color: white;
    border-width: 1px;
    border-color: lightskyblue;
    border-style: solid;
    z-index: 9999;
    left: 50%;
    padding:10px;
    position: absolute;
    /* These are the 3 css properties you will need to change so the popup
    displays in the center of the screen. First set the width. Then set
    margin-left to negative half of what the width is. You can add
    the height property for a fixed size pop up if you want.*/
    width: 500px;
    margin-left: -250px;
    top:100px;
}

.popupBackground {
    background-color:white;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9998;
}
