.fa-times {
    font-size: 1.5em;
    color: red;
}

.fa-pencil-square-o {
    font-size: 1.5em;
    color: black;
}

.fa-plus-square-o {
    font-size: 5em;
}

.container {
    padding-top: 50px;
}

.input {
    border: none;
    width: 350px;
}

.header {
    font-size: 20pt;
}
