.idea
.project
.classpath
*.iml
.settings/
target/
out/
*.jar
*.war
/dist
lib/*/
!/lib/*.jar
*.log
build/salesforce/sf.credentials.properties
src\salesforce\retrieve\metadata\staticresources\resources.resource
/reports
