#set($fields = $entity.getFields())
#set($tableName = $entity.getTableName())
#set($state = $entity.getState())
#set($oldName = $state.getOldName())

    IF  EXISTS
    (
        SELECT *
        FROM sys.procedures
        WHERE name ='$procedureName'
    )
    DROP PROCEDURE $procedureName

    #if($state.getIsNew())
        EXEC
        (
           'CREATE PROCEDURE $procedureName
            AS
            CREATE TABLE $schema.$tableName
            (
                #foreach($field in $fields)
                    #if($foreach.index != $entity.getFields().size() - 1)
                        $field.getColumnName() $field.getType().concat(',')
                    #else
                        $field.getColumnName() $field.getType()
                    #end
                #end
            )'
        );

        EXEC ('$procedureName')
    #elseif($oldName)
        DECLARE @query nvarchar(255);

        SET @query =
        (
            'CREATE PROCEDURE $procedureName
             AS
             EXEC sp_rename ''$schema.$state.getOldName()'', ''$tableName'' '
        );

        exec sp_executesql @query

        EXEC ('$procedureName')
    #elseif($state.getIsDeleted())
        EXEC
        (
            'CREATE PROCEDURE $procedureName
             AS
             DROP TABLE $schema.$tableName'
        );

        EXEC ('$procedureName')
    #end
