    IF  EXISTS
    (
        SELECT *
        FROM sys.procedures
        WHERE name ='$procedureName'
    )
    DROP PROCEDURE $procedureName

    DECLARE @procedureQuery nvarchar(MAX) = 'CREATE PROCEDURE $procedureName AS '
    DECLARE @initialProcedureQueryLength int = LEN(@procedureQuery)

    #set($tableNames = "'" + $entityClass.getSimpleName().toUpperCase() + "', '" + $fieldClass.getSimpleName().toUpperCase() + "'")
    #set($changedTables = "")

    #foreach($entity in $entities)
        #set($tableName = $entity.getTableName())

        #set($tableNames = $tableNames + ", '" + $tableName + "'")

        #if($entity.getIsProcessingNeeded())
            #if($changedTables.equals(""))
                #set($changedTables = $schema + "." + $tableName)
            #else
                #set($changedTables = ", " + $schema + "." + $tableName)
            #end
        #end
    #end

    DECLARE @tablesToDelete nvarchar(MAX)= ''

    SELECT @tablesToDelete = COALESCE(@tablesToDelete + ', ','') + SCHEMAS.name, @tablesToDelete = COALESCE(@tablesToDelete + '.','') + TABLES.name
    FROM
        sys.tables TABLES
            JOIN
        sys.schemas SCHEMAS
    ON
    TABLES.schema_id = SCHEMAS.schema_id
    WHERE TABLES.name NOT IN ($tableNames)

    IF LEN(@tablesToDelete) > 0
        SET @tablesToDelete =  @tablesToDelete + ', ' + '$changedTables '
    ELSE
        SET @tablesToDelete =  '$changedTables '

    IF LEN(@tablesToDelete) > 0
        SET @procedureQuery = @procedureQuery +
        (
            'DROP TABLE ' + @tablesToDelete + ' '
        )

    #foreach($entity in $entities)
        #set($fields = $entity.getFields())

        #if($fields.size() != 0)

            #set($tableName = $entity.getTableName())

            SET @procedureQuery = @procedureQuery +
            (
                'IF (''$tableName'')
                 NOT IN
                (
                    SELECT name
                    FROM sys.tables
                )
                CREATE TABLE $schema.$tableName
                (
                    #foreach($field in $fields)
                        $field.getColumnName() $field.getType().concat(',')
                    #end
                )'
            )
        #end
    #end

    EXEC sp_executesql @procedureQuery

    IF LEN(@procedureQuery) > @initialProcedureQueryLength
        EXEC ('$procedureName')
